@media screen and (max-width: 1080px) {
  .top ul li.s1 .text {left: 20px;}

  .bottom-box {padding-left: 20px;}
  .text-top {
    flex-direction: column;
    gap: 25px; align-items: flex-start;
    padding-left: 264px;
  }
  .title {width: auto;}
  .text-bottom {padding-left: 264px;}

  .content {padding: 150px 20px;}
  .c-box {
    width: 900px;
    overflow-x: auto;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 48px;
  }
  .c-box ul {flex-wrap: nowrap; width: max-content;}
  .c-box ul>li {scroll-snap-align: start; width: 438px;}
  .c-box::-webkit-scrollbar {height: 5px;}
  .c-box::-webkit-scrollbar-track {
    background-color: #BEBAAE; border-radius: 50px;
  }
  .c-box::-webkit-scrollbar-thumb {
    background-color: #FFD001; border-radius: 50px;
  }

  .bi-3 {right: -9%;}

  .container3 {padding: 150px 20px;}
  .flavor-wrap {
    overflow-x: auto; 
    width: 100%; 
    padding-bottom: 48px;
  }
  .flavor {flex-wrap: nowrap; width: max-content; gap: 20px;}
  .f-item {flex-shrink: 0;}
  .f-right-box img {width: 561px; height: 452px;}
  .f-top-box {gap: 20px;}
  .f-bottom-box {gap: 20px; margin-top: 20px;}
  .flavor-wrap::-webkit-scrollbar {height: 5px;}
  .flavor-wrap::-webkit-scrollbar-track {
    background-color: #BEBAAE; border-radius: 50px;
  }
  .flavor-wrap::-webkit-scrollbar-thumb {
    background-color: #FFD001; border-radius: 50px;
  }

  footer {padding: 65px 20px; position: relative;} 
  .r-copy {position: absolute; right: 20px; bottom: 169px;}
  .f-logo {padding-bottom: 24px;}
}

/* ----------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .mainment {font-size: 40px;} 
  .l-box {padding-left: 20px;}
  .r-box {padding-right: 20px;}

  .container1 {padding-top: 100px;}
  .bottom-box {padding: 100px 20px; overflow: hidden;}
  .text-top {padding-left: 0px;}
  .text-bottom {padding-left: 0px;}
  .bi-1 {display: none;}
  .bi-2 {right: -17%;}

  .content {padding: 100px 20px;}
  .c-box {width: 438px;}

  .img-box p {font-size: 16px;}
  .bi-3 {display: none;}
  .bi-4 {display: none;}

  .container3 {padding: 100px 20px;}
  .flavor, .f-top-box {gap: 16px;}
  .f-bottom-box {gap: 16px; margin-top: 16px;}
  .f-left-box img {width: 346px; height: 728px;}
  .f-right-box img {width: 346px; height: 356px;}

  .f-logo {padding-bottom: 36px;}
  .f-logo img {width: 356px; height: 179px;}
  .none1, .none1-1 {display: inline;}
  .none2 {display: none;}
  .bar-1 {display: none;}
  .bar-2 {display: inline;}
  .r-copy {bottom: 200px;}
}

/* -------------------------------------------- */

@media screen and (max-width: 460px) {
  .top {height: 770px;}
  .r-box .menu-icon {display: block;}
  .menu-box {display: none;}
  .mainment {font-size: 30px;}
  .top ul li.s2 .text {
    white-space: normal; word-break: keep-all; padding: 0 20px; width: calc(100% - 40px);
    
  }

  .container1 {padding-top: 80px;}
  .top-box {height: 220px;}
  .bottom-box {padding: 80px 20px 40px 20px;}
  .title h2 {font-size: 16px;}
  .text-top {gap: 16px; padding-bottom: 40px;}
  .text-bottom p {font-size: 15px;}
  .none3 {display: none;}
  .none4 {display: inline;}
  .bi-2 {display: none;}

  .title-box h2 {font-size: 24px; margin-bottom: 70px;}
  .content {padding: 40px 20px;}
  .c-box {width: 300px; max-width: 300px; padding-bottom: 30px;}
  .c-box ul>li {width: 300px;}
  .pro-box img {width: 300px; height: 294px;}

  .img-box {padding: 40px 20px;}
  .img-box img {width: 156px; height: 60px;}
  .img-box p {font-size: 14px; line-height: 1.5;}
  .none5 {display: inline;}
  .none6 {display: none;}

  .container3 {padding: 40px 20px 80px 20px;}
  .flavor-wrap {
    width: 300px; margin: 0 auto; scroll-snap-type: x mandatory;
    padding-bottom: 30px;
  }
  .flavor {width: max-content;}
  .flavor a {scroll-snap-align: start;}
  .f-right-box {display: flex; flex-direction: row; flex-wrap: nowrap;}
  .flavor img {width: 300px; height: 300px;}
  .f-bottom-box {margin-top: 0; margin-left: 16px;}

  footer {padding: 40px 20px;}
  .f-logo {text-align: center; margin-bottom: 12px;}
  .copy {flex-direction: column-reverse; gap: 20px; align-items: flex-start;}
  .l-copy {font-size: 12px; line-height: 1.5;}
  .l-copy span {letter-spacing: 0.03em;}
  .r-copy {position: static;}
  .none1-1 {display: none;}
  .bar-2 {display: none;}
  .none1-2 {display: inline;}
}